* {
  
  --first-color: {{ initParams.colors[0] }};
  --second-color: {{ initParams.colors[1] }};
  --first-top: {{ initParams.firstImagePosition.top }}px;
  --first-left: {{ initParams.firstImagePosition.left }}px;
  --second-top: {{ initParams.secondImagePosition.top }}px;
  --second-left: {{ initParams.secondImagePosition.left }}px;
  /*
    This is an example of how to use MotorCortex's init params in css, using a css variable
      if you are unfamiliar with css variables here is a quick guide https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#basic_usage
  */
}

.container {
  position: relative;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 100%;
background: black;
font-family: 'Open Sans', sans-serif;
color: white;
}

.image-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;

}
.offer-wrapper{
  align-items: baseline;
  display: flex;
  gap: 8px;
  position: absolute;
  right: 13px;
  top: 109px;
}
.row-wrapper{
  display: flex;
  position: relative;
}
.row{
  position: relative;
}

.offer{
  font-weight: 900;
    font-size: 40px;
}

.title-wrapper{
  font-size: 27px;
  position: absolute;
  right: 13px;
  top: 33px;
  width: 138px;
}

.product-image{  
  width: 170px;
  height: 170px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.product-image:nth-child(1){

  top: var(--first-top);
  left: var(--first-left);
}
.product-image:nth-child(2){

  top: var(--second-top);
  left: var(--second-left);
}

.smoke{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://donkeyclip.github.io/week-offer/server/smoke.png");
}